.content{
    padding-top: 96px;
    height: fit-content;
    background-color: #F9F0DA;
}

.content p{
    white-space: pre-line;
    padding-left: 30px;
    padding-right: 30px;
    color:#9D7242;
}

.content h1{
    color: #9D7242;
}