.content{
    padding-top: 32px;
    height: fit-content;
    background-color: #F9F0DA;
}

.content p{
    white-space: pre-line;
    color:#9D7242;
}

.content h1{
    margin-bottom: 20px;
    color: #9D7242;
}

.content hr{
    width: 90%;
    margin-top: 50px;
}

.descText{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}