.main{
    margin:0%;
    padding: 0%;
    height:fit-content;
}

.commonDiv{
    display:inline-block;
    /*background-color: bisque;*/
}

#popInfo{
    display: none;
    background-color: bisque;
    height: 300px;
}

#popFrame{
    display: flex;
    justify-content: center;
    height: 700px;
    padding-top: 10%;
    background-color: bisque;
}

#btns{
    height: 700px;
    justify-content: center;
    background-color: bisque;
}

.pic{
    position: absolute;
    display: block;
    pointer-events: none;
    opacity: 0%;
}

svg {
    position: inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index: 2; /*расположить svg поверх основной картинки*/
}

.part{
    opacity: 0%;
}

.part:hover{
    transition: opacity .2s ease;
    opacity: 0.5;
    cursor: pointer;
}

#Info{
    display: none;
    z-index: 3;
    position: relative;
    height: fit-content;
    max-width: 100%;
    background-color: cornflowerblue;
    padding: 20px;
    box-sizing: border-box;
}