.main{
    margin:0%;
    padding: 0%;
    height:fit-content;
}

.commonDiv{
    /*display:inline-block;*/
    background-color: #F9F0DA;
}

#popInfo{
    display: none;
    background-color: #F9F0DA;
    height: fit-content;
    margin-bottom: 30px;
}

#popInfo hr{
    width: 90%;
}

#popInfo h1{
    text-align:center;
    color:#9D7242;
}

#popInfo p{
    color:#9D7242;
    white-space: pre-line;
    margin-bottom: 50px;
}

#popFrame{
    display: flex;
    justify-content: center;
    position: relative;
    height: 550px;
    background-color: #F9F0DA;
}

#btns{
    padding-top: 32px;
    height: 70px;
    justify-content: center;
    background-color: #F9F0DA;
}

.pic{
    position: absolute;
    display: block;
    pointer-events: none;
    opacity: 0%;
    top:50%;
    transform: translate(0, -50%);
}

svg {
    position: inherit;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    z-index: 2; /*расположить svg поверх основной картинки*/
}

.part{
    opacity: 0%;
}

.part:hover{
    transition: opacity .2s ease;
    opacity: 0.5;
    cursor: pointer;
}

#Info{
    display: none;
    z-index: 3;
    position: relative;
    max-height: fit-content;
    max-width: 600px;
    background-color: #CEAF8C;
    padding: 20px;
    box-sizing: border-box;
}

#Info h2{
    color: #212529;
}

#Info p{
    overflow: auto;
    max-height: 400px;
    padding: 0 20px;
    color: #212529;
}

#Info button{
    margin-top: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}