*{
    padding: 0%;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

body {
    background-image: url(../media/bgs/bg1.jpg);
    -webkit-font-smoothing:antialiased;
    -webkit-overflow-scrolling: touch;
}

.centered {
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway";
    color: rgb(255, 255, 255);
}

p {
    font-family: "Raleway";
    line-height: 28px;
    color: rgb(255, 255, 255);
    padding-left: 50px;
    padding-right: 50px;
}

.btn {
    background-color: #9D7242;
    border: none;
    color: white;
}

.responsive {
    max-width: 100%;
    height: auto;
}

hr {  
    display: block;
    height: 1px;
    border: 0px;
    border-top: 2px solid #9D7242;
    margin:48px 32px;
    padding:0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar .navbar-brand {
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}

.footer {
    margin-top: 0%;
    width: 100%;
    left:0;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 10px;
    background-color:rgb(46, 46, 46);
    color:white;
}

.footer i {
    color:white;
    font-size: 20px;
    padding: 10px;
}

.footer i:hover {
    color:#8F92A6;
}

.footer p {
    margin-top: 10px;
}